.profile-container-title{
    margin-top: 50px;
    text-align: center;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 600;
}
.user-img{
    margin-left: 50px;
}
.user-img img{
    border: 2px solid #F7941E;
    border-radius: 50%;
}
.user-img img:hover{
    border: 4px solid #F7941E;
    border-radius: 50%;
}
.user-info{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.update-user-img{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.update-user-img img{
    border: 2px solid #E5E6E6;
    border-radius: 50%;
}
.la-in{
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 5px 5px 5px 20px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
.la label{
    color: #2280C1;
    font-size: 18px;
}
.in input{
    padding: 28px 0 5px 0;
    width: 200%;
    outline: none;
}
.in-p{
    margin: 0 0 0 0;
}
.phone-icon{
    gap: 10px;
}
.em-up-user input{
    width: 100%;
    text-align: center;
    color: #2280C1;
}
.update-user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #021d30;
    margin: 0 40%;
    margin-top: 20px;
    padding: 5px 0;
    margin-bottom: 50px;
    border-radius: 5px;
}
.update-user-info:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #021d30;
    color: #fff;
    cursor: pointer;
    margin: 0 40%;
    margin-top: 20px;
    padding: 5px 0;
    margin-bottom: 50px;
    border-radius: 5px;
}
.update-user-info input:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #2280C1;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
/* 376px to Max- 425px Mobile View */
@media only screen and (max-width: 425px) {
    .user-info {
        width: 90%;
        margin: auto;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    .la-in {
        display: flex;
        border: 1px solid gainsboro;
        border-radius: 10px;
        padding: 5px 5px 5px 20px;
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }
    .update-user-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: 1px solid #021d30;
        margin: 0 20%;
        margin-top: 20px;
        padding: 5px 0;
        margin-bottom: 50px;
        border-radius: 5px;
    }
}
/* 426px to Max- 768px Mobile View */
@media only screen and (min-width:426px) and (max-width:768px) {
    .user-info {
        width: 90%;
        margin: auto;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}
/* 769px to Max- 992px Tablet View */
@media only screen and (min-width:769px) and (max-width:992px) {
    .user-info {
        width: 90%;
        margin: auto;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}
