.radio-field{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 10px 0 0 55px;
}
.add-my-task-edit-icon{
    color: green;
    font-size: 18px;
}
.edit-delete-icon{
    display: flex;
    gap: 10px;
}
.add-my-task-delete-icon{
    color: red;
    font-size: 18px;
}
