.radio-field{
    display: flex;
    justify-content: space-between;
    width: 65%;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 8px;
    margin-top: 10px;
    margin-left: 20px;   
}
.add-my-task-edit-icon{
    color: green;
    font-size: 18px;
}
.edit-delete-icon{
    display: flex;
    gap: 10px;
}
.add-my-task-delete-icon{
    color: red;
    font-size: 18px;
}