.task-category-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.category-task-input {
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 6px;
}

.category-task-input input {
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 8px;
    font-size: 15px;
}
.category-task-save-btn{
    cursor: pointer;
    background-color: #fff;
}
.category-delete-btn{
    color: red;
    cursor: pointer;
}