.todo-modalBackground {
    width: 80vw;
    height: 80vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-modalContainer {
    width: 320px;
    height: 420px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .todo-modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .todo-titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .todo-titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: red;
  }
  .todo-modal-form input{
    width: 100%;
    padding: 8px 10px;
    outline: none;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-top: 5px;
  }
  .todo-modal-submit-btn{
    cursor: pointer;
  }
  .todo-modal-submit-btn:hover{
    cursor: pointer;
    background-color: gainsboro;
  }
  .todo-close-delete{
    display: flex;
    justify-content: space-between;
  }
  .todo-edit-modal-form input{
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px;
  }
  .todo-edit-modal-form textarea{
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px;
  }
  .todo-edit-btn{
    background-color: #616161;
    color: #fff;
    cursor: pointer;
  }
  .update-task-container{
    display: flex;
    margin-top: 50px;
    margin-left: 10%;
  }
  .todo-edit-modal-form {
    width: 40%;
    background-color: white;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    padding: 25px;
  }
.task-details{
  width: 50%;
}
.task-details-area{
  border: 1px solid gainsboro;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.delete-btn{
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}
.delete-btn span:hover{
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  color: red;
  cursor: pointer;
}
/* 376px to Max- 425px Mobile View */
@media only screen and (max-width: 425px) {
  .update-task-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10%;
    gap: 10px;
}
.task-details{
  width: 100%;
}
.todo-edit-modal-form {
  width: 94%;
  background-color: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  padding: 25px;
}
}
/* 426px to Max- 768px Mobile View */
@media only screen and (min-width:426px) and (max-width:768px) {
  .update-task-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10%;
    gap: 10px;
}
.task-details{
  width: 100%;
}
.todo-edit-modal-form {
  width: 94%;
  background-color: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  padding: 25px;
}
}
/* 769px to Max- 992px Tablet View */
@media only screen and (min-width:769px) and (max-width:992px) {
    
}